<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quick Tutorial: {{name}} ^^!</title>
</head>
<body>
    <form method="post" action="home">
        <div>
            <label>FirstName</label>
            <input type="text" name="firstname"/>
        </div>
        <div>
            <label>LastName</label>
            <input type="text" name="lastname"/>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>