{% extends "layout.jinja2" %} 
<link rel="stylesheet" href="{{ request.static_url('__main__:static/simplepage.css') }}"/>
{% block content%}
<div class="content">
    <p class="lead">Welcome to Khoi Vu!</p>
</div>
{% endblock content %}
